.footer {
  display: flex;
  align-items: center;
  justify-content: center;
 padding-bottom: 2rem;
}

/* logo */
.line-logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--cr-slate200);
  box-shadow: 0 0 15px var(--cr-teal700);
}

.logo {
  display: inline-block;
  position: relative;
  user-select: none;
  width: 50px;
  margin-right: 10px;
}

.logo::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--cr-slate200);
  border-color: var(--cr-slate200) transparent var(--cr-slate200) transparent;
  animation: circle-rotate 2s linear infinite;
}

@keyframes circle-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo span {
  position: absolute;
  top: -5%;
  left: 30%;
  font-size: 2rem;
  color: var(--cr-slate200);
  font-family: "atma", Arial, Helvetica, sans-serif;
}

/* end of logo */

.footer-card{
  width: 300px;
  height: 20vh;
  background: #09090b;
  border-radius: 10px;
  position: relative;
  display: flex;
  box-shadow: inset 0 0 20px #86efac,
              inset 20px 0 200px var(--cr-gray950),
              inset -20px 0 100px  #86efac,
              inset 20px 0 200px var(--cr-gray950),
              inset -20px 0 100px  #86efac,
              0 0 10px var(--cr-gray950),
              -5px 0 10px #86efac,
              5px 0 10px var(--cr-gray950);
}

.footer-card::after{
  content: "";
  position: absolute;
  top:0;
  width:80px;
  background-color: var(--cr-teal700);
  height: 20vh;
}

.footer-img{
 z-index: 999;
 position: absolute;
 top: 20%;
 left: 5%;
}
.footer-img img{
  width:clamp(50px,100%, 80px);
}

.footer-span1{
  z-index: 1;
  width:1rem;
  height:2rem;
  background-color: var(--cr-gray950);
  position: absolute;
  top:0;
  left: 23%;
}
.footer-span2{
  z-index: 1;
  width:1rem;
  height:2rem;
  background-color: var(--cr-gray950);
  position: absolute;
  bottom: 0;
  left: 23%;
}

.footer-content{
  position: absolute;
  right: 5%;
  top:12%;
  color: var(--cr-slate200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-size: 0.8rem;
  z-index: 999;
}

.footer-content span{
  text-decoration: underline;
  font-family: 'atma',Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}




/* media queries */
/* @media (min-width: 320px) and (max-width: 480px) {
} */

/* @media (min-width: 481px) and (max-width: 767px) {
  .container{
    max-width: 481px;
  } 
} */

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
} */

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .line-logo {
    padding-inline: 2.5rem;
  }

 
}

@media (min-width: 1025px) {
  .container {
    max-width: 1025px;
  }
  .line-logo {
    padding-inline: 3rem;
  }

  .footer-card{
    width: 350px;
  }
  
  .footer-card::after{
    width:100px;
  }
  
  .footer-img{
   top: 15%;
   left: 10%;
  }
  .footer-img img{
    width:clamp(70px,100%, 90px);
  }
  
  .footer-span1{
    left: 25%;
  }
  .footer-span2{
    left: 25%;
  }
  
  .footer-content{
    right: 7%;
    top:5%;
    
  }
  
  .footer-content span{
    font-size: 1rem;
  }

 
}

@media (min-width: 1281px) {
  .container {
    max-width: 1281px;
  }

  .line-logo {
    padding-inline: 8rem;
  }


}

@media (min-width: 1920px) {
  .container {
    max-width: 1281px;
  }

  .line-logo {
    padding-inline: 8rem;
  }
}
