.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 7%;
  padding: 0 1rem;
  z-index: 999;
}

.nav-menu-sitename a {
  text-decoration: none;
  color: var(--cr-slate200);
  font-family: "atma", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
}

.nav-menu-bar {
  border: none;
  background: none;
  color: var(--cr-slate200);
  cursor: pointer;
}

.nav-menu-link {
  display: none;
}

.nav-menu-link.nav-menu-content {
  display: block;
}

.nav-menu-link {
  position: fixed;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  background: var(--cr-teal700);
  z-index: 999;
  transition: 1s;
}
.nav-menu-link {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-menu-link span {
  margin-bottom: 2rem;
  padding: 5px;
  color: var(--cr-slate200);
  cursor: pointer;
}

.nav-menu-link li a {
  display: block;
  text-decoration: none;
  color: var(--cr-slate200);
  font-family: "atma", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding-block: 1rem;
}

.nav-menu-link li a:hover {
  font-weight: 900;
}

/* media queries */
/* @media (min-width: 320px) and (max-width: 480px) {
} */

/* @media (min-width: 481px) and (max-width: 767px) {
  .container{
    max-width: 481px;
  } 
} */

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
} */

@media (min-width: 768px) {
  /* .container {
    max-width: 768px;
  } */

  .nav-menu {
    justify-content: space-between;
    padding-inline: 2.5rem;
  }

  .nav-menu-bar {
    display: none;
  }

  .nav-menu-link {
    display: none;
  }

  .nav-menu-link.nav-menu-content {
    display: none;
  }

  .nav-menu-link {
    display: flex;
    margin-right: 2rem;
    position: unset;
    width: unset;
    height: unset;
    background: unset;
  }

  .nav-menu-link span {
    display: none;
  }

  .nav-menu-link li a {
    display: unset;
    text-align: unset;
    padding-block: unset;
    margin-left: 1rem;
    font-size: 1.3rem;
    position: relative;
  }

  .nav-menu-link a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--cr-slate200);
    left: 0;
    bottom: 2px;
    transition: 0.5s ease-in;
  }

  .nav-menu-link a:hover::after {
    width: 100%;
  }

  .nav-menu-link li a:hover {
    color: var(--cr-teal700);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* .container {
    max-width: 1025px;
  } */

  .nav-menu {
    padding-inline: 3rem;
  }

  .nav-menu-link {
    margin-left: 2rem;
  }

  .nav-menu-link li a {
    margin-right: 2rem;
  }
}

@media (min-width: 1281px) {
  /* .container {
    max-width: 1281px;
  } */

  .nav-menu {
    padding-inline: 8rem;
  }

  .nav-menu-link {
    margin-left: 2.5rem;
  }

  .nav-menu-link li a {
    margin-right: 3rem;
  }
}
