.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skills-heading{
    border-top: 4px solid rgba(0,128,128,1);
    border-bottom: 4px solid rgba(0,128,128,0.2);
    border-left: 4px solid rgba(0,128,128,1);
    border-right: 4px solid rgba(0,128,128,0.2);
   
    padding-inline: 1rem;
    transform: skewX(-35deg);
    margin-bottom: 1rem;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
}

.skills-heading h3 {
    text-align: center;
    transform: skewX(30deg);
  }

  .skills-content{
    width: 300px;
    height: 400px;
    margin:30px;
    /* box-shadow: 20px 20px 0 var(--cr-teal700); */
    border-radius: 1rem;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid rgba(0,128,128,0.5);
   border-bottom: 5px solid  rgba(0,128,128,0.5);
   border-left: 2px solid rgba(0,128,128,0.5);
   border-right: 2px solid rgba(0,128,128,0.5);
    color: var( --cr-slate200);
    padding: 10px;
    gap: 10px;
  }

  .skills-content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .skills-content-1{
    border-right: 4px ridge var(--cr-slate500);
  }

  .skills-content-1 li{
    border: 2px solid var(--cr-slate500);
    margin-bottom: 10px;
    margin-right: 1rem;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px var(--cr-teal700);
  }

  .skills-content-2 ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }