@import url('https://fonts.googleapis.com/css2?family=Atma&family=Black+Ops+One&display=swap');

:root{
  --cr-gray950:#030712;
  --cr-slate500:#64748b;
  --cr-slate200:#e2e8f0;
  --cr-teal700:#0f766e;
}

*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin:0;
  padding:0;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--cr-gray950);
}

h3, h4{
  font-family: 'atma',Arial, Helvetica, sans-serif;
  color: var(--cr-slate200);
}

h3{
  font-size: 1.5rem;
}