@import url('https://fonts.googleapis.com/css2?family=Atma&family=Black+Ops+One&display=swap');

:root{
  --cr-gray900:#111827;
  --cr-slate500:#64748b;
  --cr-slate200:#e2e8f0;
  --cr-teal700:#0f766e;
}

*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin:0;
  padding:0;
}
html{
  scroll-behavior: smooth;
  font-size: 10px;
}

body{
  background-color: var(--cr-gray900);
  font-size: 1rem;
}