.proj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-name a {
  color: var(--cr-slate200);
}
.proj-name a:hover {
  color: var(--cr-teal700);
}

.proj-img {
  width: clamp(100px, 100%, 200px);
  height: 300px;
}

.proj-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--cr-slate200);
  position: relative;
}
.proj-description {
  margin-top: 1rem;
  cursor: pointer;
  border: 2px solid var(--cr-teal700);
  border-radius: 5px;
  background-color: var(--cr-slate200);
  padding: 5px;
  color: var(--cr-teal700);
  font-weight: 900;
}
.proj-description:hover {
  background-color: var(--cr-teal700);
  border: 2px solid var(--cr-slate200);
  color: var(--cr-slate200);
}
.proj-description:hover ~ .proj-desc-details {
  opacity: 1;
}

.proj-desc-details {
  font-size: 0.8rem;
  padding: 0.5rem 5px;
  text-align: center;
  border: 2px inset var(--cr-gray950);
  background-image: linear-gradient(
    150deg,
    var(--cr-teal700),
    var(--cr-slate500)
  );
  color: var(--cr-slate200);
  font-weight: 700;
  position: absolute;
  top: 35%;
  width: 200px;
  transition: all 0.8s ease-in-out;
  opacity: 0;
}

/* media queries */
/* @media (min-width: 320px) and (max-width: 480px) {
} */

/* @media (min-width: 481px) and (max-width: 767px) {
  .container{
    max-width: 481px;
  } 
} */

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
} */

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .proj-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }

  .proj-img {
    width: clamp(150px, 100%, 250px);
    height: 300px;
  }

  .proj-description {
    margin-top: 1rem;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 1025px;
  }

  .proj-container {
    margin-top: 1rem;
    gap: 8rem;
  }

  .proj-img {
    width: clamp(200px, 100%, 300px);
    height: 350px;
  }

  .proj-desc-details {
    font-size: 1rem;
    width: 250px;
  }
}

@media (min-width: 1281px) {
  .container {
    max-width: 1281px;
  }

  .proj-name a {
    font-size: 1.4rem;
  }

  .proj-container {
    margin-top: 1.3rem;
    gap: 15rem;
  }

  .proj-img {
    width: clamp(350px, 100%, 400px);
    height: 400px;
  }

  .proj-desc-details {
    font-size: 1rem;
    width: 350px;
  }
}
